.Project {
    border-radius: 120px 120px 29px 29px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px 40px 10px 40px;
    gap: 5px;
    margin: 0 auto;
    width: 100%;
}

.project-header {
    width: 100%;
    border-bottom: 3px solid rgb(80, 88, 156);
}

.project-container{
    width: 100%;
}

.project-container .carousel-control-prev {
  height: 80%;
  align-items: center;
  position: block;
  left: -25%;
}
.project-container .carousel-control-next{
height: 80%;
  align-items: center;
  position: block;
  right: -25%;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}
