.Project {
    border-radius: 120px 120px 29px 29px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px 40px 10px 40px;
    gap: 5px;
    margin: 0 auto;
}

.header {
    width: 100%;
}

.title {
    width: 100%;
    border-bottom: 3px solid rgb(80, 88, 156);
}