.Hero {
    /* border-radius: 127px 29px 29px 29px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 40px;
    margin: 0 auto;
    background-color: rgba(110, 140, 251, 0.347);
    box-shadow: -1px -1px 23px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px -1px 23px 0px rgba(0,0,0,0.75);
    }

.info {
    width: 60%;
    text-align: left;
    color: white;
    text-Shadow: 5px 3px rgb(60, 70, 123)
}

.profile {
    width: 30%;
}

.profile img {
    width: 60%;
    min-width: 30%;
    height: 80%;
}

.btn-primary-custom {
  background-color: rgb(99, 108, 203);
  border-color: rgb(99, 108, 203);
}

.btn-primary-custom:hover {
  background-color: rgb(79, 88, 183);
}