.Contact {
    border-radius: 120px 120px 29px 29px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px 40px 10px 40px;
    gap: 1px;
    margin: 0 auto;
}

.contact-header {
    width: 100%;
    border-bottom: 3px solid rgb(80, 88, 156);
    
}

.contact-info{
    width: 80%;
}

.with-border > div {
    border-right: 3px solid rgba(255, 255, 255, 0.319);
}

.contact-socail img{
    width: 40px;
    height: 40px;
}