html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: rgb(60, 70, 123);

}

#root {
  min-height: 100vh;
  margin: 0 auto;
}

.box{
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
  margin: 0 auto;
}

.aboutme{
  margin: 0 auto;
  width: 70%;
}