html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: rgb(60, 70, 123);
  color: white;
  scroll-margin-top: 80px;
  scroll-behavior: smooth;

  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 20px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}

#root {
  min-height: 100vh;
  margin: 0 auto;
}

.box {
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
  margin: 0 auto;
}

.aboutme,
.project,
.contact {
  margin: 0 auto;
  width: 70%;
}