.Aboutme {
    border-radius: 120px 120px 29px 29px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px 40px 10px 40px;
    gap: 5px;
    margin: 0 auto;
    /* background-color: rgb(99, 108, 203);
    box-shadow: -1px -1px 23px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px -1px 23px 0px rgba(0,0,0,0.75); */
}

.header {
    width: 100%;
}

.title {
    width: 100%;
    border-bottom: 3px solid rgb(80, 88, 156);
    color: white;
}

p {
    color: white;
}